/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*Set global variables*/
:root {
  --primary-bg: #131518;
  --primary-orange: #FC7614;
  --accent--bg-dkblue: #262E38;
  --body-txt-ltgray: #969FAD;
  --title-txt: #FFFFFF;
  --rating-txt: #7C8798;
  --font-wt-reg: 400;
  --font-wt-bold: 700;
  --font-sz-step0: 14px;
  --font-sz-step1: 15px;
  --font-sz-step3: 16px;
  --font-sz-step4: 24px;
}

/*Zero out defaults*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg);
  font-family: Overpass, sans-serif;
  font-weight: var(--font-wt-reg);
  color: var(--body-txt-ltgray);
  font-size: clamp(var(--font-sz-step0), 13.65px + 0.094vw, var(--font-sz-step1));
  line-height: 1.6em;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  width: clamp(20.4rem, 18.56rem + 8vw, 25.75rem);
  min-height: 22.5rem;
  position: relative;
}

.rating-form, .thankyou-msg {
  background-image: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: clamp(15px, 9.85px + 1.4vw, 30px);
  padding: clamp(24px, 21.25px + 0.75vw, 32px);
}

.star-img-wrapper {
  width: clamp(2.5rem, 2.3rem + 0.75vw, 3rem);
  height: clamp(2.5rem, 2.3rem + 0.75vw, 3rem);
  background-color: var(--accent--bg-dkblue);
  border-radius: 50%;
  padding: clamp(6.5px, 6px + 0.14vw, 8px) clamp(6px, 5.55px + 0.12vw, 7.25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-weight: var(--font-wt-bold);
  font-size: clamp(var(--font-sz-step4), 22.6px + 0.375vw, calc(2 * var(--font-sz-step0)));
  line-height: 1.25em;
  color: var(--title-txt);
  margin-bottom: clamp(0.625rem, 0.5rem + 0.56vw, 1rem);
}

h1 {
  margin-top: clamp(1rem, 0.7rem + 1.32vw, 1.875rem);
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 clamp(1.5rem, 1.33rem + 0.75vw, 2rem) 0;
}

.rating-option {
  width: clamp(2.625rem, 2.42rem + 0.85vw, 3.1875rem);
  height: clamp(2.625rem, 2.42rem + 0.85vw, 3.1875rem);
  background-color: var(--accent--bg-dkblue);
  color: var(--rating-txt);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 200ms ease, color 200ms ease;
}

input {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  appearance: none;
}

label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: var(--font-sz-step2);
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.rating-option:hover, .rating-option:focus, .rating-option:hover + label {
  background-color: var(--primary-orange);
  color: var(--title-txt);
}

input:checked + label {
  background-color: var(--rating-txt);
  color: var(--title-txt);
}

button {
  width: 100%;
  height: 2.8125rem;
  background-color: var(--primary-orange);
  border-radius: 22.5px;
  color: var(--title-txt);
  font-weight: var(--font-wt-bold);
  font-size: var(--font-sz-step1);
  line-height: 1.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  transition: background-color 200ms ease, color 200ms ease;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: var(--title-txt);
  color: var(--primary-orange);
}

.thankyou-msg {
  position: absolute;
  top: 0;
  left: 0;
  padding: clamp(36px, 32.76px + 0.85vw, 45px) clamp(24px, 19.8px + 1.13vw, 36px);;
  text-align: center;
  display: none;
}

.show {
  display: block;
  z-index: 5;
}

.thankyou-img {
  width: clamp(9rem, 8.625rem + 1.7vw, 10.125rem);
  height: clamp(6rem, 5.76rem + 1.1vw, 6.75rem);
}

.confirm-selection {
  width: 12rem;
  height: 2rem;
  border-radius: 22.5px;
  background-color: var(--accent--bg-dkblue);
  color: var(--primary-orange);
  font-size: var(--font-sz-step1);
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: clamp(1.5rem, 1.33rem + 0.75vw, 2rem) auto;
}